/* colors
#2B93BF
#79C569
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2%;
}
.main {
    background-color: #dcb8cb;
    /* background: linear-gradient(#031820, #203a43, #0f2027);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05); */
    padding: 40px 0;
    width: 100%;
    height: 100%;
    min-height: 400px;
    width: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.menu h3 {
    color: #828a95;
}
.menu a {
    color: aliceblue;
    text-decoration: none;
    border: 1px solid aliceblue;
    border-radius: 8px;
    padding: 3px 8px;
    margin: 5px;
}
.form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    justify-content: center;
}
.item-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 540px;
    width: 100%;
    flex-wrap: wrap;
}
.data-input {
    width: 48%;
    height: 30px;
    margin: 8px 0;
    padding: 10px;
}
.item-form input[type="submit"] {
    width: 100%;
    height: 30px;
    margin: 5px 0;
}

.message-input {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    height: 100px;
    margin: 8px 0;
    padding: 10px;
}
.form h2 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: normal;
}
.single-content {
    width: 50%;
    margin-top: 40px;
    padding: 8px 30px;
}

.main-content {
    margin-top: 70px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-hand {
    width: 500px;
    height: 300px;
    border-radius: 15px;
}
.card-right {
    border-radius: 80px 20px 20px 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: -40px;
    width: 120px;
    height: 140px;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}
.card-right h2 {
    font-size: 15px;
}
.card-right p {
    font-size: 10px;
}
/* .card-left {
    top: 70px;
    right: -30px;
    border-radius: 10px;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100px;
    height: 30px;
    padding: 10px;
    text-align: center;
} */
.card-botton {
    top: 276px;
    right: 110px;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 130px;
    height: 50px;
    padding: 10px;
    text-align: center;
}
.card-botton p {
    font-size: 10px;
}
.main-content .text-box {
    position: relative;
    max-width: 600px;
}
.main-content .text-box h2 {
    color: #2b93bf;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
    margin: 10px;
}
.main-content .text-box h2 span {
    color: aliceblue;
    font-size: 1.2em;
    font-weight: 900;
    margin: 10px;
}
.main-content .text-box p {
    color: #2b93bf;
    margin: 10px;
}
.main-content .text-box a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: aliceblue;
    color: #2b93bf;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.text-botton {
    top: 19px;
    margin: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-botton h2 {
    border: 1px solid aliceblue;
    color: aliceblue;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px;
}
.arrow-down {
    margin: 10px;
    width: 20px;
    height: 20px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
        brightness(95%) contrast(80%);
}

/* CONTENT CSS */
.content {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    width: 100%;
    height: 100%;
    min-height: 400px;
    width: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.modal-map-container {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-color: aliceblue;
}
.modal-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.modal-container button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #dcb8cb;
    color: aliceblue;
}
.maps {
    position: relative;
    display: flex;
}
/* MEDIA RESPONSIVE */
@media screen and (max-width: 768px) {
    .item-form input[type="text"] {
        width: 100%;
    }
    .single-content {
        width: 100%;
    }
    .img-hand {
        width: 100%;
        border-radius: 15px;
    }
    .main-content {
        width: 100%;
        flex-direction: column;
    }
    .card-botton {
        visibility: hidden;
    }
    .card-right {
        visibility: hidden;
    }
    .event-map {
        flex-direction: column;
    }
}
